@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
  font-family: "Lato", sans-serif;
  /* line-height: 1.5; */

  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background-color: #010015;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --foreground: rgba(138, 43, 226, 0.8);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
body{
  overflow-x: hidden;
}

@keyframes ripple {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0.6;
  }
}

.animate-ripple {
  animation: ripple var(--duration, 3s) ease calc(var(--i, 0) * 0.3s) infinite;
}
