.dashboard_layout{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/dashboard_bg.png);
    display: flex;
    position: relative;
}
.rightpane{
    width: 100%;
    height: 100vh;
    padding: 20px 0;
    padding-right: 20px;
    overflow-y: scroll;
}
.chatbot_bottom{
    position: absolute;
    bottom: 50px;
    right: 50px;
}

@media (max-width: 768px){
    .rightpane{
        padding: 20px 0;
        padding-bottom: 100px;
    }
}
